
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* Resetando margens e paddings padrões do navegador */
/* Resetando margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo o corpo da página */
body {
  display: flex;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  width: 100%;
  background-color: #f0efef;
}

/* Centraliza o título */
h1 {
  font-size: 2em; /* Tamanho do título */
  margin-bottom: 10px; /* Espaço entre o título e a tabela */
  color: #333; /* Cor do texto do título */
}

/* Estilos da tabela */
table {
  width: 40rem; /* Ajusta a largura da tabela */
  height: 0.5rem;
  margin-top: 10px; /* Adiciona espaço entre a tabela e o topo */
  border-collapse: collapse; /* Remove o espaçamento entre as bordas */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para melhorar o visual */
}

/* Estilos das células da tabela */
th, td {
  padding: 10px; /* Espaçamento interno das células */
  font-size: 1.2em; /* Tamanho da fonte nas células */
  border: 1px solid #ddd; /* Borda entre as células */
  height: 1rem;
}

/* Estilo das células de cabeçalho */
th {
  background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
  font-weight: bold; /* Deixa o texto do cabeçalho em negrito */
}
